COMPOSE_PROJECT_NAME=dispatch
SECRET_KEY=
DISPATCH_JWT_SECRET=
DISPATCH_ENCRYPTION_KEY=

MJML_PATH=/usr/bin/
LOG_LEVEL=debug
VITE_DISPATCH_AUTH_REGISTRATION_ENABLED=false
DISPATCH_MARKDOWN_IN_INCIDENT_DESC=true

# Database
# NOTE: Ensure that DATABASE_CREDENTIALS match the values passed to POSTGRES_USER and POSTGRES_PASSWORD
DATABASE_CREDENTIALS=
DATABASE_HOSTNAME=localhost
DATABASE_NAME=dispatch
DATABASE_PORT=5432

# Used by postgres docker
POSTGRES_DB=dispatch
POSTGRES_USER=dispatch
POSTGRES_PASSWORD=dispatch
STATIC_DIR=